@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

}
nav{
    background-color:  rgb(14, 14, 87) ;
    padding: 12px 3px;
    display: flex;
    color: white;
    justify-content: space-between;
}
.logo{
    margin: 0 23px;
    font-weight: 800;
    font-size: 23px;
    cursor: pointer;

}
.logo:hover{
    color: white;
}
ul{
    display: flex;
    margin: 0 23px;
    align-items: center;
    cursor: pointer;
}
ul > li {
    list-style: none;
    margin: 0 13px;
    cursor: pointer;
}
ul > li:hover{
    color: white;
}
table, td, tr{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 13px;

}
.container {
    max-width: 80vw;
    margin: 20px auto;
}

h1 , h2 , h3 {
    margin: 29px 0;
    color: rgb(14, 14, 87);
    font-size: 30;
} 
.btn{ 
    padding: 8px 17px;
    background:  rgb(14, 14, 87);
    font-weight: 900;
    color: white;
    margin: 25px 0;
    border: 2px solid grey;
    border-radius: 8px;
    cursor: pointer;
    
}
.btnsm{
    padding: 8px 10px;
    background:  rgb(14, 14, 87);
    font-weight: 900;
    color: white;
    border: 2px solid grey;
    border-radius: 8px;
    cursor: pointer;
}
img{
    cursor: pointer;
    position: relative;
    bottom: 7px;
    width: 15px;
    height: 13px;
}
label{
    display: block;
    padding: 5 px;
    font-size: 18px;
    font-weight: 20px;
    color:  black;
    box-shadow: 2px 2px 5px
    rgba(0,0,0,0.2) ;
    background-color:;
    
}

.alert{
    display: none;
}
body{
    background-color: rgb(185, 185, 169)
}